body{
    background-color:cyan;
}
#titulo{
    text-align: center;
    color:rgb(200, 135, 61);
    background-color: black;
    padding: 20px;
    border-radius: 25px;
}
#in1{
    height: 25px;
    width: 150px;
}
#se1{
    height: 25px;
    color: brown;
    font-family: inherit;
    border-radius: 20px;
    border-color: black;
}
#se1:hover{
    background-color: black;
}
#bo1{
    color: brown;
    height: 25px;
    font-family: inherit;
    border-radius: 20px;
}
#bo1:hover{
    background-color: black;
}
#content1{
    width: 1327px;
    border-radius: 25px;
    height: 550px;
    margin: auto; 
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px; 
    box-sizing: border-box; 
}
#label1{
    color:red;
    font-size: 30px;
}
#hb, #hk, #hm, #hg, #ht, #hp{
    color: blue;
    width: 20px;
    height: 50px;
}
#hb, #pb{
    display: inline-block;
}
#hk, #pk{
    display: inline-block;
}
#hm, #pm{
    display: inline-block;
}
#hg, #pg{
    display: inline-block;
}
#ht, #pt{
    display: inline-block;
}
#hp, #pp{
    display: inline-block;
}
p{
    position: relative;
    margin-left: 350px;
    color:blue;
}
#in1{
    border-radius: 20px;
    border-color: black;
}

#bo2{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-left: 250px;
    background-color:gold;
    color:black;
    font-size: 15px ;
}
#bo2:hover{
    transform: scale(1.03); 
    color: blue;
}