#equipo-mural {
    padding: 40px 20px;
    text-align: center;
    background-color:#008080; 
    border-top: 2px solid #ddd;
    margin: 30px auto; 
    max-width: 1200px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}
.miembro-tarjeta {
    background-color: #ffffff;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    width: 250px; 
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.miembro-tarjeta:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/*estilo para la iagen*/
.miembro-imagen {
    margin-bottom: 20px;
}

.miembro-imagen img {
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    border: 3px solid #008080;
    padding: 3px; 
}
/* Estilos de la Información de la Tarjeta */
.miembro-info h3 {
    color: #333;
    font-size: 1.4em;
    margin: 5px 0 3px 0;
}

.miembro-info h4 {
    color: #4682b4; 
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.miembro-info p {
    color: #555;
    font-size: 0.9em;
    line-height: 1.4;
    text-align: center; 
    padding-top: 10px;
    border-top: 1px dashed #008080; 
}
#titulo {
    text-align: center;
    color: #004d40; 
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    background-color: #4682b4;
    width: 1220px;
    margin-left: 40px; 
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}
button#bo3 {
    background-color: #f39c12; 
    color: #fff; 
    padding: 12px 25px; 
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
        
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

button#bo3:hover {
    background-color: #e67e22; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    transform: translateY(-2px); 
}

